.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: azure;
  }

.dialogItem {
  padding: 10px;
}

.dialogItem .active{
  color: gold;
}

.messages {
  padding: 10px;
}

.messages .message{

}